body {
    /* border: 3px solid red; */
    color: #121212;
    text-align: center;
    font-family: sans-serif;
}

main {
    border: 5px solid #121212;
    width: max-content;
}

img {
    width: 380px;
    border: 3px solid #121212
}

p {
    font-style: italic;
}

.intro {
    padding: 0 200px;
    width: 380px;
}

button {
    border: 3px solid #121212;
    padding: 10px 25px;
    margin-top: 5px;
    width: 250px;
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

#email-btn {
    background-color: white;
}
#email-btn:hover {
    background-color: green;
    color: white;
}

#join-btn {
    background-color: #121212;
    color: white;
}
#join-btn:hover {
    background-color: green;
    /* color: #121212; */
}

a {
    color: #121212;
}